
#blur{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    filter:blur(2px);
    -o-filter:blur(2px);
    -ms-filter:blur(2px);
    -moz-filter:blur(2px);
    -webkit-filter:blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.profile-header {
    transform: translateY(5rem);
}

#share-user{
    text-align: center;
}

#share-user a {
    color: #343A40;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}