{% extends 'layout/layout_content.html' %}

{% block title %}
{{ gettext("raffles") }}
{% endblock %}

{% block bgtitle %}
{{ gettext("raffles") }}
{% endblock %}

{% block content %}
    <div class="card">
  <div class="card-body">

<div class="card">
    <div class="card-body">
{% if raffles.items %}
<div class="table-responsive">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ gettext("title") }}</th>
      <th scope="col">{{ gettext("date_of_participation") }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for raffle in raffles.items %}
    <tr>
      <td scope="row"><label title="{{ raffle.title }}">{{ raffle.title[:25] }}</label></td>
      <td>{{ raffle.creation_date|datetime_short }} (UTC)</td>
      <td>
          {% if raffle.completed %} <button onclick="MyRaffleResult('{{ raffle.id_share|aes_encode }}');" type="button" class="btn btn-primary btn-sm"><i class="fas fa-box"></i></button>{% endif %}
          <button onclick="RaffleUrl('{{ raffle.id_share }}');" type="button" class="btn btn-primary btn-sm"><i class="fas fa-link"></i></button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

    {% if prev_url %}
    <a class="btn btn-primary btn-sm" href="{{ prev_url }}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary btn-sm" href="{{ next_url }}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}

    {% else %}
        <div class="col-md-12 text-center">
            <h5>{{ gettext("there_are_no_results") }}</h5>
        </div>
    {% endif %}
        </div>
</div>
  </div>
    </div>
{% endblock %}


{% block modal %}

    <div class="modal fade" id="MyRaffleResultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ gettext("raffle_results") }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="my-raffle-result"></div>

          </div>
          <div class="modal-footer">
              <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="UrlRaffleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ gettext("share") }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-copy"></i></div>
                                    </div>
                                        <input type="text" readonly="readonly" class="form-control" autocomplete="off" id="raffle-link-share">
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    <a class="btn btn-primary btn-sm float-right" target="_blank" id="raffle-link-external"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                        </div>
                    </div>
              </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}


{% block js %}
 <script type="text/javascript">
    function MyRaffleResult(id) {
            loading('{{ gettext("loading") }}');
            var id = id;
            $.ajax({
                url: '/MyRaffleResult',
                type: 'POST',
                data: {
                    id: id
                },
                success: function (result) {
                        $('.my-raffle-result').html(result);
                        swal.close();
                        $("#MyRaffleResultModal").modal('show');
                },
                error: function (error) {
                    swal.close();
                    alertbox('{{ gettext("sorry_there_was_an_error") }}',false);
                }
            });
        }


        function RaffleUrl(id) {
            $("#UrlRaffleModal").modal('show');
            url = window.location.origin+"/share/"+id;
            document.getElementById("raffle-link-share").value = url;
            document.getElementById("raffle-link-external").href = url;
            document.getElementById("raffle-link-share").onclick = function() {
                this.select();
                document.execCommand('copy');
                alertbox('{{ gettext("copied") }}',true)
            }
        }
</script>
{% endblock %}


