<!DOCTYPE html>
<html lang="{{ gettext('local') }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-play-app" content="app-id=net.gulernet.cekilisaraci">

    <title>{{ gettext("project_name") }} - 404</title>

    <!-- Bootstrap core CSS-->
       <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='themes/social/css/share/style.css') }}">


  </head>


<body>
    <div class="widget">
      <div class="card card mx-auto full-height">

        <div class="card-body text-center">
            <h1>404</h1>
      </div>
      </div>
</div>





    <!-- Bootstrap core JavaScript-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script async src="//www.googletagmanager.com/gtag/js?id=UA-126138111-3"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-126138111-3');

    </script>
</body>



</html>
